.App {
  /*text-align: center;*/
}

#bookish {
  font-family: 'Prata', serif;
  text-align: center;
  position: absolute;
  color: black;
  font-size: 1.7em;
  letter-spacing: 4px;
}

#navBar {
  color: white;
  padding: 10px 0px;
  width: 100%;
  height: 15%;
  border-bottom: 2px solid black;
}

#subhead {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 1em;
  text-align: center;
}

#home {
  background-image: url("./images/book1.jpg");
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-position: center;
  width: 100%;
  height: 80%;
}

#avatarImg {
  margin-right : auto;
  margin-left : auto;
  min-width : 150px;
  max-width : 150px;
}
